<h2>@nowstart@</h2>
<p>@registerform@</p>
<form id="register">
    <div class="rfr-notifications">
        <div class="rfr-notifications-cont"></div>
    </div>
    <div class="form-group">
        <input type="text" name="p1" id="p1" class="form-control" placeholder="@firstmem@">
    </div>
    <div class="form-group">
        <input type="text" name="ph" id="ph" class="form-control" placeholder="@phonenum@">
    </div>
    <div class="form-group">
        <input type="text" name="p2" id="p2" class="form-control" placeholder="@sndmem@">
    </div>
    <div class="form-group">
        <input type="text" name="p3" id="p3" class="form-control" placeholder="@trdmem@">
    </div>
    <div class="form-group">
        <input type="text" name="sc" id="sc" class="form-control" placeholder="@scname@">
    </div>
    <div class="form-group">
        <input type="password" name="pass" id="ps" class="form-control" placeholder="@password@">
    </div>
    <div class="form-group">
        <input type="password" name="repass" id="reps" class="form-control" placeholder="@repassword@">
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" value="@register@">
    </div>
</form>