<h5>@login@</h5><br/>
<form id="login-form">
    <div class="rf-notifications">
        <div class="rf-notifications-cont"></div>
    </div>
    <div class="form-group">
        <input type="text" name="codel" id="codel" class="form-control" placeholder="@teamcode@">
    </div>
    <div class="form-group">
        <input type="password" name="passl" id="passl" class="form-control" placeholder="@password@">
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" value="@login@">
    </div>
</form>