<div class="clients-slider">
    <ul class="owl-carousel">
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
        <li>
            <div class="slide">
                <div class="client-single"><img src="img/sup/smpd.png" alt=""></div>
            </div>
        </li>
    </ul>
</div>