<div id="scroll-progress"><span class="scroll-percent"></span></div>
<div id="website-loading">
    <div class="loader">
        <div class="la-ball-pulse la-2x">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>